    <% if notice || alert %>
        <div class="center-alerts-container" style="margin-bottom: 10px; margin-top: 10px;">
            <span class="notice"><%= notice %></span>
            <span class="alert"><%= alert %></span>
        </div>
    <% end %>